<?xml version="1.0"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <connectionStrings>
    <add name="source" connectionString="Server=.\CMINGSQL2008R2;uid=sa;pwd=CMING123;database=AQMSDB;" />
  </connectionStrings>
</configuration>